# Subsetting tables in Clear Data

First, we import pandas and Clear Data.

In [2]:
# Because this is the development repo, we import in this ugly way, but
# if you've done pip install clear-data, these two steps are not needed.
import sys
sys.path.append( os.getcwd()+"/../src" )

# In your own code, do just this:
import pandas as pd
import clear_data

Now I create a tiny example DataFrame for use in testing, below.
Imagine we have a large database of businesses in a city, and this is a small
example of what that big database might be like.

In [3]:
df = pd.DataFrame( {
    "Name"       : [ "Annie's Pretzels", "Nathan's Hot Dogs", "Joe's Garage" ],
    "Address"    : [    "1 Example St.",   "2 Imaginary Dr.",    "3 Foo Ln." ],
    "#Employees" : [                 12,                   3,              5 ]
} )
df

                Name          Address  #Employees
0   Annie's Pretzels    1 Example St.          12
1  Nathan's Hot Dogs  2 Imaginary Dr.           3
2       Joe's Garage        3 Foo Ln.           5

## Get the businesses with 4 or more employees

Old way, which is nice and succinct but a little confusing:

In [4]:
df[df["#Employees"] >= 4]

               Name        Address  #Employees
0  Annie's Pretzels  1 Example St.          12
2      Joe's Garage      3 Foo Ln.           5

And if you try to modify that, you get the most confusing and frustrating warning message in all of data science, the dreaded "copy of a slice" warning, and the link to the documentation does not alleviate the confusion in the slightest:

In [5]:
subset = df[df["#Employees"] >= 4]
subset["New Column"] = 10
subset

/tmp/ipykernel_83667/3305288935.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset["New Column"] = 10

               Name        Address  #Employees  New Column
0  Annie's Pretzels  1 Example St.          12          10
2      Joe's Garage      3 Foo Ln.           5          10

Clear Data way, longer but clearer:

In [6]:
df.rows_where( df["#Employees"] >= 4 )

               Name        Address  #Employees
0  Annie's Pretzels  1 Example St.          12
2      Joe's Garage      3 Foo Ln.           5

And it's a copy by default, so it's no problem to modify it:

In [7]:
subset = df.rows_where( df["#Employees"] >= 4 )
subset["New Column"] = 10
subset

               Name        Address  #Employees  New Column
0  Annie's Pretzels  1 Example St.          12          10
2      Joe's Garage      3 Foo Ln.           5          10

But if you wanted the old behavior (a slice instead of a copy) you can use `df.rows_where(...,efficient=True)` to get a slice.

If you need to select just the indices where a certain predicate holds true,
there are appropriately named functions for that action as well.

In [8]:
df.indices_where( df["#Employees"] >= 4 )

Int64Index([0, 2], dtype='int64')